.button {
  margin: 0 0 0 4px;
  padding: 4px 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.greenButton {
  background-color: #28a745;
  color: white;
}

.deleteButton {
  background-color: #dc3545;
  color: white;
}

.viewButton {
  background-color: #28a745;
  color: white;
}
